name: Lint Cron
on:
  schedule:
    - cron: '0 */12 * * *'
jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node v14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci && npx lerna bootstrap

      - name: Build TypeScript
        run: npm run build

      - name: Run ESLint
        run: npm run lint
